{% extends "base_blank.html" %}

{% load static %}

{% block title %}
<title>Category</title>
{% endblock title %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Category</li>
                </ul>
                <h1>{{ catago.title }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->
{% endblock page_header %}

{% block body %}
<div class="col-md-8">
    {% for quiz in list_quiz %}
    <!-- post -->
    <div class="col-md-12">
        <div class="post post-row">
            <a class="post-img" href="{% url 'pre-quiz' quiz.slug %}"><img src="{{ quiz.image.url }}" alt=""></a>
            <div class="post-body">
                <div class="post-meta">
                    <a class="post-category cat-3">{{ quiz.category_quiz }}</a>
                    <span class="post-date">{{ quiz.create_at|date:"F d, Y" }}</span>
                </div>
                <h3 class="post-title"><a href="{% url 'pre-quiz' quiz.slug %}">{{ quiz.title }}</a></h3>
                <p><strong>Number of questions: </strong>{{ quiz.question_count }} | <strong>Time:
                </strong>{{ quiz.time }} minute</p>
                <p>{{ quiz.description|truncatewords:20|safe }}</p>
            </div>
        </div>
    </div>
    <!-- /post -->
    {% endfor %}
</div>

<nav aria-label="Page navigation">

    {% if lab.has_other_pages %}
    <ul class="pagination">

        {% if lab.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" tabindex="-1">First</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ doc.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1">Previous</a>
        </li>
        {% endif %}

        {% for i in lab.paginator.page_range %}

        {% if lab.number == i %}
        <li class="page-item active">
            <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
            </span>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}

        {% endfor %}


        {% if lab.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ doc.next_page_number }}">Next</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ doc.paginator.num_pages }}">Last</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Next</a>
        </li>
        {% endif %}

    </ul>
    {% endif %}
</nav>

{% endblock body %}