{% extends "base_blank.html" %}
{% load static %}

{% block title %}
<title>{{ quiz.name }}</title>
{% endblock title %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'quiz' %}">Quiz</a></li>
                    <li>{{ quiz.title }}</li>
                </ul>
                <h1>{{ quiz.title }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<!-- Page Header -->
<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url({{quiz.image.url}});"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="post-meta">
                    <a class="post-category cat-2" href="">{{ quiz.category_quiz }}</a>
                    <span class="post-date">{{ quiz.created|date:"F d, Y" }}</span>
                </div>
                <h1>{{ quiz.title }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->
{% endblock page_header %}

{% block body %}
<!-- post -->
<div>
        <h1>Submission time: <span style="color: red; font-weight: bold;" id="time"></span></h1>
    <div>
        <form name="quiz" class="form" id="myquiz" action="" method="POST">
            {% csrf_token %}
            {% for q in questions %}
            <legend style="color: brown;"><strong>{{ forloop.counter }}: </strong>{{ q.label }}</legend>
            <input type="hidden" name="question-{{ q.aidi }}" value="{{ q.aidi }}">
            {% for a in q.answer %}
            <div class="form-group">
                <input class="form-check-input" type="radio" name="choise-{{ q.aidi }}" id="{{ a.pk }}"
                    value="{{ a.pk }}">
                <label class="form-check-label" for="{{ a.pk }}">{{ a.text }}</label>
            </div>
            {% endfor %}
            {% endfor %}
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-success btn-lg" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function startTimer(duration, display) {
        var start = Date.now(),
            diff,
            minutes,
            seconds;
        function timer() {
            // get the number of seconds that have elapsed since 
            // startTimer() was called
            diff = duration - (((Date.now() - start) / 1000) | 0);

            // does the same job as parseInt truncates the float
            minutes = (diff / 60) | 0;
            seconds = (diff % 60) | 0;

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (diff <= 0) {
                // add one second so that the count down starts at the full duration
                // example 05:00 not 04:59
                start = Date.now() + 1000;
            }
        };
        // we don't want to wait a full second before the timer starts
        timer();
        setInterval(timer, 1000);
    }
    window.onload = function () {
        var time = 60 * {{ quiz.time }},
            display = document.querySelector('#time');
        startTimer(time, display);
        setTimeout(function(){ document.quiz.submit(); }, time*1000);
    };
</script>
<!-- /post -->
{% endblock body %}