{% extends "base_blank.html" %}
{% load static %}

{% block title %}
<title>{{ quiz.title }}</title>
{% endblock title %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'quiz' %}">Quiz</a></li>
                    <li>{{ quiz.title }}</li>
                </ul>
                <h1>{{ quiz.title }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<!-- Page Header -->
<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url({{quiz.image.url}});"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="post-meta">
                    <a class="post-category cat-3"
                        href="{% url 'catago-quiz' quiz.category_quiz.slug %}">{{ quiz.category_quiz }}</a>
                    <span class="post-date">{{ quiz.create_at|date:"F d, Y" }}</span>
                </div>
                <h1>{{ quiz.title }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->
{% endblock page_header %}

{% block body %}
<!-- post -->
<div class="col-md-12">
    <h1 class="text-center">Number of questions: <strong class="red-text">{{ quiz.questions.count }}</strong> |
        Submission time: <span id="time"></span></h1>
    <div>
        <form name="quiz" id="form-quiz" action="{% url 'quiz-detail' quiz.slug %}" method="POST">
            {% csrf_token %}
            {% for q in questions %}
            <div class="answer-box">
                <h1 class="brown-text">Question {{ forloop.counter }}:</h1>
                <p>{{ q.label|safe }}</p>
                <input type="hidden" name="question-{{ q.aidi }}" value="{{ q.aidi }}">
                {% for a in q.answer %}
                <div class="form-group">
                    <input class="form-check-input" type="radio" name="choice-{{ q.aidi }}" id="{{ a.pk }}"
                        value="{{ a.pk }}">
                    <label class="form-check-label" for="{{ a.pk }}">{{ a.text }}</label>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="form-group">
                <hr>
                <div class="text-right">
                    <a id="cancelQuiz" href="{% url 'pre-quiz' quiz.slug %}" class="btn btn-danger btn-lg"><i class="fas fa-times-circle"></i> Cancel</a>
                    <button id="submitQuiz" class="btn btn-success btn-lg" type="submit"><i class="fas fa-check-circle"></i> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /post -->
{% endblock body %}

{% block jquery %}
<script>
    function startTimer(duration, display) {
        var start = Date.now(),
            diff,
            minutes,
            seconds;
        function timer() {
            diff = duration - (((Date.now() - start) / 1000) | 0);
            minutes = (diff / 60) | 0;
            seconds = (diff % 60) | 0;

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (diff <= 0) {
                start = Date.now() + 1000;
            }
        };
        timer();
        setInterval(timer, 1000);
    }
    window.onload = function () {
        var number = '{{ quiz.time }}',
        time = 60 * number,
        display = document.querySelector('#time');
        startTimer(time, display);
        setTimeout(function () { document.quiz.submit(); }, time * 1000);
    };
</script>

<script>
    $(document).ready(function () {

        $("#submitQuiz").click(function () {
            if (confirm('Are you really want to submit quiz ?')) {
                return true;
            }
            else {
                return false;
            }
        });

        $("#cancelQuiz").click(function () {
            if (confirm('Do you want to cancel the test? All results will not be saved.')) {
                return true;
            }
            else {
                return false;
            }
        });
    });
</script>
{% endblock jquery %}