<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!--Title for pages-->
	{% block title %}
	
	{% endblock title %}

	<!--CSS-->
	{% include "pages/css-import.html" %}

</head>

<body>
	<!-- Header -->
	<header id="header">
		<!-- Nav -->
		<div id="nav">
			<!-- Main Nav -->
			<div id="nav-fixed">
				<div class="container">
					<!-- logo -->
					<div class="nav-logo">
						<a href="/" class="logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
					</div>
					<!-- /logo -->

					<!-- nav -->
					{% include 'pages/navbar.html' %}
					<!-- /nav -->

					<!-- search & aside toggle -->
					<div class="nav-btns">
						<button class="aside-btn"><i class="fa fa-bars"></i></button>
						<button class="search-btn"><i class="fa fa-search"></i></button>
						<div class="search-form">
							<input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
							<button class="search-close"><i class="fa fa-times"></i></button>
						</div>
						{% include 'pages/navbar-account.html' %}
					</div>
					<!-- /search & aside toggle -->
				</div>
			</div>
			<!-- /Main Nav -->

			<!-- Aside Nav -->
			{% include "pages/aside-nav.html" %}
			<!-- Aside Nav -->
		</div>
		<!-- /Nav -->

		{% block page_header %}

		{% endblock page_header %}
	</header>
	<!-- /Header -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- Hiện messages thông báo -->
					{% if messages %}
						{% for message in messages %}
						<div class='alert alert-{{ message.tags }}'>
							{{ message }}
						</div>
						{% endfor %}
					{% endif %}

					{% block body %}

					{% endblock body %}
				</div>
				<!-- aside -->
				<div class="col-md-4">
					<!-- ad -->
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block;margin: auto;">
							<img class="img-responsive" src="./img/ad-1.jpg" alt="">
						</a>
					</div>
					<!-- /ad -->

				</div>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- Footer -->
	<footer id="footer">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3">
					<div class="footer-widget">
						<h3 class="footer-title">Follow us</h3>
						<ul class="footer-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /Footer -->

	<!-- jQuery Plugins -->
	{% include "pages/js-import.html" %}

</body>

</html>