{% extends "pages/base_blank.html" %}

{% load static %}

{% block title %}
    {% if title %}
        <title>Django - {{ title }}</title>
    {% else %}
        <title>Django</title>
    {% endif %}
{% endblock title %}

{% block body %}
{% for post in doc %}
<!-- post -->
<div class="col-md-12">
    <div class="post post-row">
        <a class="post-img" href="#"><img src="{% static 'img/post-2.jpg' %}" alt=""></a>
        <div class="post-body">
            <div class="post-meta">
                <a class="post-category cat-3" href="#">{{post.genre}}</a>
                <span class="post-date">{{ post.date_posted|date:"F d, Y" }}</span>
            </div>
            <h3 class="post-title"><a href="{% url 'quiz' post.id %}">{{ post.title }}</a></h3>
            <p>{{ post.content }}</p>
        </div>
    </div>
</div>
<!-- /post -->
{% endfor %}
{% endblock body %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Documents</li>
                </ul>
                <h1>Documents</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->
{% endblock page_header %}