{% extends "base_blank.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block body %}
<!-- post -->
<div class="col-md-12">
    <div class="content-section">
        <form method="POST">
            <!--Bảo mật csrf-->
            {% csrf_token %}
            <fieldset class="form_group">
                <legend class="border_bottom mb_4">Log In</legend>
                <!--Bảo mật csrf-->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-success btn-lg" type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
                </div>
            </div>
        </form>

        <div class="form-group">
            <legend class="border_bottom mb_4">Log In by Social Account</legend>
            <a class="btn btn-primary btn-lg" style="background-color: #3b5998;" href="{% provider_login_url 'facebook' method='oauth2' %}"><i class="fab fa-facebook"></i> Facebook Connect</a>
            <a class="btn btn-primary btn-lg" style="background-color: #db4a39;" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i> Google Connect</a>

        </div>

        <div class="form-group">
            <legend class="border_bottom mb_4">Need Help ?</legend>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need a account <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                </small>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Forgot your password ? <a class="ml-2" href="{% url 'password_reset' %}">Change Password</a>
                </small>
            </div>
        </div>
    </div>
</div>
<!-- /post -->
{% endblock body %}