{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Password Reset</title>
{% endblock title %}

{% block body %}
<!-- post -->
<div class="col-md-12">
    <div class="content-section">
        <form method="POST">
            <!--Bảo mật csrf-->
            {% csrf_token %}
            <fieldset class="form_group">
                <legend class="border_bottom mb_4">Reset Password</legend>
                <!--Bảo mật csrf-->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Reset</button>
            </div>
        </form>
    </div>
</div>
<!-- /post -->
{% endblock body %}