{% extends "pages/base_blank.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Profile</li>
                </ul>
                <h1>Profile</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->
{% endblock page_header %}

{% block body %}
<!-- post -->
<div class="col-md-12">
    <div class="content-section">
        <div class="section-row">
            <div class="post-author">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="{{ user.profile.image.url }}" alt="">
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <h3>{{ user.username }}</h3>
                            <p><strong>Date Joined: </strong>{{ user.date_joined }}</p>
                            <p><strong>Last Login: </strong>{{ user.last_login }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-row">
            <form method="POST" enctype="multipart/form-data">
                <!--Bảo mật csrf-->
                {% csrf_token %}
                <fieldset class="form_group">
                    <legend class="border_bottom mb_4">Profile Info</legend>
                    <!--Bảo mật csrf-->
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-warning" type="submit">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- /post -->
{% endblock body %}