{% extends "base_blank.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Profile</li>
                </ul>
                <h1>Profile</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->
{% endblock page_header %}

{% block body %}
<!-- post -->
<div class="col-md-12">
    <div class="content-section">
        <div class="section-row">
            <div class="post-author">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="{{ user.profile.image.url }}" alt="">
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            {% if user.profile.image.url != '' %}
                            {% if wallet.credit >= 1000 %}
                            <h3>{{ user.username }} - Premium Account</h3>
                            {% else %}
                            <h3>{{ user.username }} - Free Account</h3>
                            {% endif %}
                            <p><strong>Hutest Coin: </strong><span style="color: red;">{{ wallet.credit }}</span> Coin</p>
                            <p><strong>Date Joined: </strong>{{ user.date_joined }}</p>
                            <p><strong>Last Login: </strong>{{ user.last_login }}</p>
                            {% else %}
                            <h3>{{ user.username }} - This account is not official yet</h3>
                            <p><strong>Date Joined: </strong>{{ user.date_joined }}</p>
                            <p><strong>Last Login: </strong>{{ user.last_login }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-row">
            <legend class="border_bottom mb_4">Menu</legend>
            <a class="btn btn-info btn-lg" href="{% url 'buy-detail' %}"><i class="fas fa-shopping-basket"></i> Purchased</a>
            <a class="btn btn-info btn-lg" href="{% url 'transcript' %}"><i class="fas fa-user-graduate"></i> Transcripts</a>
        </div>

        <div class="section-row">
            <form method="POST" enctype="multipart/form-data">
                <!--Bảo mật csrf-->
                {% csrf_token %}
                <fieldset class="form_group">
                    <legend class="border_bottom mb_4">Profile Info</legend>
                    <!--Bảo mật csrf-->
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <div class="text-center">
                        <button class="btn btn-warning btn-lg" type="submit"><i class="fas fa-user-edit"></i> Update</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- /post -->
{% endblock body %}

{% block jquery %}
<script>
    $(document).ready(function() { 
        $(function() { 
            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                yearRange: "-100:+0",
                dateFormat: 'yy-mm-dd'
            });
        });
    });
</script>
{% endblock jquery %}
    