<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!--Title for pages-->
	{% block title %}

	{% endblock title %}

	<!--CSS-->
	{% include 'css-import.html' %}

</head>

<body>

	<!-- Header -->
	<header id="header">
		<!-- Nav -->
		<div id="nav">
			<!-- Main Nav -->
			<div id="nav-fixed">
				<div class="container">
					<!-- logo -->
					<div class="nav-logo">
						<a href="/" class="logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
					</div>
					<!-- /logo -->

					<!-- nav -->
					{% include 'navbar.html' %}
					{% include 'navbar-account.html' %}
					<!-- /nav -->

					<!-- search & aside toggle -->
					<div class="nav-btns">
						<button class="aside-btn"><i class="fa fa-bars"></i></button>
						<button class="search-btn"><i class="fa fa-search"></i></button>
						{% include 'search-bar.html' %}
					</div>
					<!-- /search & aside toggle -->
				</div>
			</div>
			<!-- /Main Nav -->

			<!-- Aside Nav -->
			{% include 'aside-nav.html' %}
			<!-- Aside Nav -->
		</div>
		<!-- /Nav -->
	</header>
	<!-- /Header -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<!-- Hiện messages thông báo -->
						{% if messages %}
							{% for message in messages %}
							<div class='alert alert-{{ message.tags }}'>
								{{ message }}
							</div>
							{% endfor %}
						{% endif %}
						<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-double-up fa-lg"></i></button>
						{% block body %}

						{% endblock body %}

					</div>
				</div>

				<div class="col-md-4">
					{% include 'widget.html' %}
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- Footer -->
	<footer id="footer">
		{% include 'footer.html' %}
	</footer>
	<!-- /Footer -->

	<!-- jQuery Plugins -->
	{% include "js-import.html" %}

</body>

</html>