{% if cata %}
<!-- catagories  -->
<div class="aside-widget">
    <div class="section-title">
        <h2>Catagories</h2>
    </div>
    <div class="category-widget">
        <ul>
            {% for item in cata %}
            <li><a href="#" class="cat-5">{{ item.title }}<span>{{ item.docs_count }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- /catagories -->
{% else %}
<!-- catagories  -->
<div class="aside-widget">
    <div class="section-title">
        <h2>Blank</h2>
    </div>
</div>
<!-- /catagories -->
{% endif %}

<!-- post widget -->
<div class="aside-widget">
    <div class="section-title">
        <h2>New Item</h2>
    </div>

    {% for mosts in most %}
    <div class="post post-widget">
        <a class="post-img" href="{% url 'doc-detail' mosts.slug %}"><img src="{{ mosts.image.url }}" alt=""></a>
        <div class="post-body">
            <h3 class="post-title"><a href="#">{{mosts.title}}</a></h3>
        </div>
    </div>
    {% endfor %}
        
</div>
<!-- /post widget -->
